:root {
    --primary-color: #CE0002;
}

* {
    box-sizing: border-box;
}


li {
    list-style: none;
}

.active:hover {
    color: #fff !important;
}

.inner_menu a:hover {
    color: #CE0002;
}

a {
    text-decoration: none;
}

body {
    position: relative;
    max-height: 1834px;
}

header {
    display: flex;
    height: 120px;
    justify-content: space-between;
    bottom: 77px;
}

.h_logo {
    /*position: relative;*/
    margin: 23px 86px 228px 86px;
    max-width: 135px;
    max-height: 75px;
}

.icons li hover {
    background-color: #CE0002;
}

.menu {
    margin: 48px 95px 96px 782px;
}

.inner_menu {
    display: flex;
    justify-content: space-between;
    width: 643px;
}

.inner_menu a {
    font-family: 'Akrobat';
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    color: black;
}

.language {
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    background-color: var(--primary-color);
}

.language a {
    font-family: Akrobat;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    color: white;
}

.bottom {
    position: relative;
    margin: 50px 40px 40px 88px;
}

.floating_text {
    position: absolute;
    font-family: Zona Pro;
    font-size: 72px;
    font-weight: 800;
    line-height: 85px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    height: 255px;
    width: 1077px;
    margin: 30px 717px 321px 0px;
    top: 157px;
    border-radius: nullpx;
    flex-wrap: wrap;
}

.icons {
    display: flex;
    flex-direction: column;
    margin-top: 493px;
    position: absolute;
}

.icons li {
    height: 28px;
    width: 28px;
    left: 2px;
    top: 2px;
    border-radius: 0px;
    margin-bottom: 24px;

}

.float_box {
    position: absolute;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    background-color: var(--primary-color);
    cursor: pointer;
    margin: 521px 1545px 92px 149px;
}

.flo {
    color: white;
    font-size: 20px;
    font-weight: 800;
    line-height: 27.48px;
    text-align: center;
    text-align: start;
    padding-left: 15px;
}

.bottom_text {
    position: absolute;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 560px;
    font-family: Akrobat;
    text-align: left;
    width: 459px;
    margin-top: 521px;
    margin-left: 344px;
    margin-right: 1060px;
    margin-bottom: 147px;
}

.unicorn {
    position: absolute;
    right: 0px;
    height: 733.0471801757812px;
    width: 785.952880859375px;
}

footer {
    position: relative;
    width: inherit;
    display: flex;
    justify-content: space-between;
    height: 54px;
    background-color: #efefef;
    padding: 0px 16px 0px 27px;
    align-items: center;
    width: inherit;
    top: 1019px;
}
.toy_stream {
    font-family: Akrobat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #7E7E7E;
}

.footer_inner_menu {
    display: flex;
    width: 516px;
    justify-content: space-between;
}

.footer_inner_menu a {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #7E7E7E;
}

.color {
    background-color: #FFEA2F;
    height: 942px;
    width: 87.5%;
    right: 0px;
    top: 0px;
    border-radius: 0px;
    position: absolute;
    z-index: -3;
}